@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #99dfdb transparent;
  }

  .dark * {
    scrollbar-color: #006660 transparent;
  }

  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #99dfdb;
    border-radius: 99px;
  }

  .dark *::-webkit-scrollbar-thumb {
    background-color: #006660;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #00a99d;
  }
}
